<link rel="stylesheet" href="http://dev.openlayers.org/releases/OpenLayers-2.13.1/theme/default/style.css" type="text/css">
<script src="http://dev.openlayers.org/releases/OpenLayers-2.13.1/OpenLayers.js" type="text/javascript"></script>
<script type="text/javascript">
  
  document.addEventListener("DOMContentLoaded", function(event) {

  	// document.getElementById('preview_map').setAttribute("style", "height:600px");

    {% if resource.bbox_string %}
    var bbox = [{{ resource.bbox_string }}];
    {% else %}
    var bbox = null;
    {% endif %}

    source = null;
    {% if resource.get_tiles_url %}
    {% if 'access_token' in request.session %}
    var url = '{{ resource.get_tiles_url|safe }}&access_token={{request.session.access_token}}'
    {% else %}
    var url = '{{ resource.get_tiles_url|safe }}'
    {% endif %}    
    source = new OpenLayers.Layer.XYZ({
    	url: url
    });

    {% elif resource.ptype == 'gxp_wmscsource' %}
    {% if 'access_token' in request.session %}
    var url = '{{ resource.ows_url|safe }}&access_token={{request.session.access_token}}'
    {% else %}
    var url = '{{ resource.ows_url|safe }}'
    {% endif %}
    source = new OpenLayers.Layer.TileWMS({
    	url: url,
    	params: {'LAYERS': '{{ resource.typename }}'}
    });

    {% elif resource.ptype == 'gxp_arcrestsource' %}
    source = new OpenLayers.Layer.TileArcGISRest({
    	url: '{{ resource.ows_url|safe }}',
        params: {'LAYERS': '{{ resource.typename }}'}
    });

    {% endif %}

    var crs = '{{ crs }}'

    if (crs != 'EPSG:4326') {
        crs = 'EPSG:3857';
    }
    if (source != null) {
    	var layers = [
            new OpenLayers.Layer.OSM("OpenCycleMap",
              ["http://a.tile.openstreetmap.org/${z}/${x}/${y}.png",
               "http://b.tile.openstreetmap.org/${z}/${x}/${y}.png",
               "http://c.tile.openstreetmap.org/${z}/${x}/${y}.png"]),
          	source
    	];
    	
    	var map = new OpenLayers.Map({
            div: 'preview_map', 
            projection: crs,
            controls: [],
            layers: layers,
            center: [0, 0],
            zoom: 2
    	});

    	if (bbox != null) {
    	    if (crs != 'EPSG:4326') {
                bbox = new OpenLayers.Bounds(bbox).transform(new OpenLayers.Projection("EPSG:4326"),new OpenLayers.Projection("EPSG:3857"));
    		}
    		map.getView().fit(bbox, map.getSize());
    	}
    }
  });

</script>
