{% extends "layers/layer_base.html" %}
{% load i18n %}
{% load bootstrap_tags %}
{% load url from future %}
{% load base_tags %}
{% load guardian_tags %}
{% load floppyforms %}

{% block title %}{{ layer.typename }} — {{ block.super }}{% endblock %}


{% block head %}
    {% include "layers/layer_ol3_map_mini.html" %}

    <style>
        .xxs-font-size{
            font-size: 10px;
        }
        textarea{
            width:100%;
        }
        select{
            width:100%;
        }
        .test-class{
            background-color: red;
        }
        table{
            table-layout:fixed;
            width: 100%;
        }
        td > input{
            width: 100%;
        }
        .input-empty{
            border-color: red;
            border-style: double;
        }

        input[type="text"] {
            width: 200px !important;
            left: 0;
            right: 0;
        }

        .fancy-checkbox input[type="radio"],
        .fancy-checkbox input[type="checkbox"],
        .fancy-checkbox .checked {
            display: none;
        }

        .fancy-checkbox input[type="radio"]:checked ~ .checked,
        .fancy-checkbox input[type="checkbox"]:checked ~ .checked {
            display: inline-block;
            color:red;
        }

        .fancy-checkbox input[type="radio"]:checked ~ .unchecked,
        .fancy-checkbox input[type="checkbox"]:checked ~ .unchecked {
            display: none;
        }

        .tokenfield,
        #id_resource-title {
            width: 95% !important;
        }

        .leaflet-container { /* all maps */
            height: 250px !important;
        }

        .map-overlay {
            display: none !important;
        }

        #regions_multiselect_container.content {
            position: absolute;
        }

        .fstControls {
            width: 100% !important;
        }

        .fstElement {
            font-size: 0.8em !important;
        }

        .fstResultItem {
            font-size: 1.2em !important;
        }
    </style>
{{ block.super }}
{% endblock %}

{% block body_class %}data{% endblock %}

{% block body_outer %}

<div class="modal fade" style="width: 100%; height: 100%;" id="preview_pleaseWaitDialog" data-backdrop="static" data-keyboard="false" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Processing...</h1>
            </div>
            <div class="modal-body">
                <div class="progress">
                  <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                    Updating Metadata...
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid page-header" style="position: relative;">
  <!--<a href="{% url "layer_browse" %}" class="btn btn-primary pull-right">{% trans "Explore Layers" %}</a>-->
  <h2 class="page-title">{% trans "Metadata" %}&nbsp;{% blocktrans with layer.typename as layer_title %}for {{ layer_title }}{% endblocktrans %}</h2>
      <div id="profileCompleteness" style="position: absolute; right: 0%; top: 0%">
        <canvas id="liquidPieChart"></canvas>
      </div>
  </h2>
</div>

    <form id="layer_metadata_update" class="form-horizontal" action="{% url "layer_metadata" layer.service_typename %}" method="POST">
      {% if layer.metadata_uploaded_preserve %}
        <p class="bg-warning">{% blocktrans %}Note: this layer's orginal metadata was populated and preserved by importing a metadata XML file.
          This metadata cannot be edited.{% endblocktrans %}</p>
      {% elif layer.metadata_uploaded %}
        <p class="bg-warning">{% blocktrans %}Note: this layer's orginal metadata was populated by importing a metadata XML file.
          GeoNode's metadata import supports a subset of ISO, FGDC, and Dublin Core metadata elements.
          Some of your original metadata may have been lost.{% endblocktrans %}</p>
      {% endif %}

      {% if layer_form.errors or attribute_form.errors or category_form.errors or author_form.errors or poc.errors %}
    	  <p class="bg-danger">{% blocktrans %}Error updating metadata.  Please check the following fields: {% endblocktrans %}</p>
          <ul class="bg-danger">
          {% if author_form.errors %}
            <li>{% trans "Metadata Author" %}</li>
            {{ author_form.errors }}
          {% endif %}
          {% if poc_form.errors %}
            <li>{% trans "Point of Contact" %}</li>
            {{ poc_form.errors }}
          {% endif %}
          {% for field in layer_form %}
            {% if field.errors %}
            <li>{{ field.label }}</li>
            {% endif %}
          {% endfor %}
          {% if not attribute_form.is_valid %}
            <li>{% trans "Attributes" %}</li>
            {% for field in attribute_form %}
            {% if field.errors %}
            <li>{{ field.errors }}</li>
            {% endif %}
            {% endfor %}
          {% endif %}
          {% if category_form.errors %}
            <li>{{ category_form.errors.as_ul }}</li>
          {% endif %}
          </ul>
        {% endif %}

        {% csrf_token %}
        <div id="mdeditor_form" class="col-md-12 form-controls">
          {% form layer_form using "layouts/panels.html" %}
          {# layer_form|as_bootstrap #}
        </div>

        <div class="row">
          <div class="col-md-12 grid-spacer">
            <fieldset class="form-controls modal-forms modal hide fade" id="poc_form" >
              <h2>{% trans "Point of Contact" %}</h2>
              {{ poc_form|as_bootstrap }}
              <button type='button' class="modal-cloose-btn btn btn-primary">Done</button>
            </fieldset>
            <fieldset class="form-controls modal-forms modal hide fade" id="metadata_form">
              <h2>{% trans "Metadata Provider" %}</h2>
                {{ author_form|as_bootstrap }}
              <button type='button' class="modal-cloose-btn btn btn-primary">Done</button>
            </fieldset>

            {% if not layer.metadata_uploaded_preserve %}
            <div class="form-actions">
              <input type="button" id="btn_back_dwn" class="btn btn-primary" style="display" value="{% trans "<< Back" %}"/>
              <input type="submit" id="btn_upd_md_dwn" class="btn btn-primary" value="{% trans "Update" %}"/>
              <input type="button" id="btn_next_dwn" class="btn btn-primary" value="{% trans "Next >>" %}"/>
            </div>
            {% endif %}
          </div>
        </div>
      </form>
{% endblock %}
{% block extra_script %}
 {% include 'metadata_form_js.html' %}

{% if GEONODE_SECURITY_ENABLED %}
 {% include "_permissions_form_js.html" %}
{% endif %}

    <script type="text/javascript">
      $('#set_thumbnail').click(function(){
        createMapThumbnail();
      });
    </script>

    <!-- <script type="text/javascript">
        $(document).ready(function() {
            $('#id_resource-regions').multiselect({
                enableClickableOptGroups: true,
                enableCollapsibleOptGroups: true,
                enableFiltering: true,
                includeSelectAllOption: true
            });
        });
    </script> -->

    <!-- <script type="text/javascript">
        $(document).ready(function() {
            $('#id_resource-regions').treeMultiselect({
                startCollapsed: true
            });
        });
    </script> -->

    <!-- Doc & Examples: http://dbrekalo.github.io/fastselect/ -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#id_resource-regions').fastselect({
            });
        });
    </script>

{% endblock %}
