{% extends "maps/map_base.html" %}
{% load i18n %}
{% load bootstrap_tags %}

{% block head %}
    <style>
        .xxs-font-size{
            font-size: 10px;    
        }
        textarea{
            width:100%;
        }
        select{
            width:100%;
        }
        .test-class{
            background-color: red; 
        }
        table{
            table-layout:fixed;
            width: 100%;
        }
        td > input{
            width: 100%;
        }
        .input-empty{
            border-color: red;
            border-style: double;
        }

        input[type="text"] {
            width: 200px !important;
            left: 0;
            right: 0;
        }

        .tab-pane{
            height:650px;
            overflow-y:scroll;
        }
        
        .fancy-checkbox input[type="radio"],
        .fancy-checkbox input[type="checkbox"],
        .fancy-checkbox .checked {
            display: none;
        }
         
        .fancy-checkbox input[type="radio"]:checked ~ .checked,
        .fancy-checkbox input[type="checkbox"]:checked ~ .checked {
            display: inline-block;
            color:red;
        }
         
        .fancy-checkbox input[type="radio"]:checked ~ .unchecked,
        .fancy-checkbox input[type="checkbox"]:checked ~ .unchecked {
            display: none;
        }
        
        .tokenfield,
        #id_resource-title {
            width: 95% !important;
        }
        
        .leaflet-container { /* all maps */
            height: 250px !important;
        }
        
        .map-overlay {
            display: none !important;
        }
        
        #regions_multiselect_container.content {
            position: absolute;
        }
        
        .fstControls {
            width: 100% !important;
        }
        
        .fstElement {
            font-size: 0.8em !important;
        }
        
        .fstResultItem {
            font-size: 1.2em !important;
        }    
    </style>
{{ block.super }}
{% endblock %}

{% block title %}{{ map.title }} — {{ block.super }}{% endblock %}

{% block body_class %}data{% endblock %}

{% block body_outer %}

<div class="modal fade" style="width: 100%; height: 100%;" id="preview_pleaseWaitDialog" data-backdrop="static" data-keyboard="false" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Processing...</h1>
            </div>
            <div class="modal-body">
                <div class="progress">
                  <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                    Updating Metadata...
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-header">
  <a href="{% url "maps_browse" %}" class="btn btn-primary pull-right">{% trans "Explore Maps" %}</a>
  <h2 class="page-title">{% trans "Edit Metadata" %}</h2>
</div>
<div class="row">
  <div class="col-md-8">
    <p class="lead">
      {% blocktrans with map.title as map_title %}
        Editing details for {{ map_title }}
      {% endblocktrans %}
    </p>
    <form class="form-horizontal" action="{{ map.get_absolute_url }}/metadata" method="POST">
      {% if map.metadata_uploaded %}
      <div style="background-color: orange;">{% blocktrans %}Note: this map's orginal metadata was populated by importing a metadata XML file.
        GeoNode's metadata import supports a subset of ISO, FGDC, and Dublin Core metadata elements.
        Some of your original metadata may have been lost.{% endblocktrans %}</div>
      {% endif %}

      {% if map_form.errors or category_form.errors %}
      <div style="background-color: pink">{% blocktrans %}Error updating metadata.  Please check the following fields: {% endblocktrans %}
        <ul>
        {% for field in map_form %}
            {% if field.errors %}
                <li>{{ field.label }}</li>
            {% endif %}
        {% endfor %}

        {% if category_form.errors %}
            <li>{{ category_form.errors.as_ul }}</li>
        {% endif %}
        </ul>
      </div>
      {% endif %}
      <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="{% trans "Update" %}"/>
      </div>
      {% csrf_token %}
      <div class="form-controls">
        {{ map_form|as_bootstrap }}
      </div>

        <div class="row">
          <div class="col-md-12">
            <label class="control-label required-field">{% trans "Category" %}</label>
            <fieldset id="category_form">
              {% autoescape off %}
              {% for choice in category_form.category_choice_field.field.choices %}
              <div class="col-md-6">
                <label class="fancy-checkbox">
                    <input type="radio" name="category_choice_field" value="{{ choice.0 }}"
                      {% ifequal category_form.initial choice.0 %} checked="checked" {% endifequal %} />
                    {{ choice.1 }}
                </label>
              </div>
              <!-- div class="radio col-md-6">
                <input type="radio" name="category_choice_field" value="{{ choice.0 }}"
                  {% ifequal category_form.initial choice.0 %} checked="checked" {% endifequal %}> 
                  {{ choice.1 }}
                </input>
              </div -->
              {% endfor %}
              {% endautoescape %}
            </fieldset>
          </div>

          <div class="col-md-12 grid-spacer">
              <fieldset class="form-controls modal-forms modal hide fade" id="poc_form" >
                <h2>{% trans "Point of Contact" %}</h2>
                {{ poc_form|as_bootstrap }}
                <button type='button' class="modal-cloose-btn btn btn-primary">Done</button>
              </fieldset>
              <fieldset class="form-controls modal-forms modal hide fade" id="metadata_form">
                <h2>{% trans "Metadata Provider" %}</h2>
                {{ author_form|as_bootstrap }}
                <button type='button' class="modal-cloose-btn btn btn-primary">Done</button>
              </fieldset>

              <div class="form-actions">
                <input type="submit" class="btn btn-primary" value="{% trans "Update" %}"/>
              </div>
          </div>
        </div>
      </form>
  </div>
</div>
{% endblock %}
{% block extra_script %}
 {% include 'metadata_form_js.html' %} 
{% endblock %}
